* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f1f9ff;
    display: flex;
    justify-content: center;
}

/* APP WRAPPER */
.app {
    width: 100%;
    max-width: 420px;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header {
    padding: 18px;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    background: #f479b3;
}

/* ROOM COLORS */
.header.orange { background: #fb923c; }
.header.pink { background: #f472b6; }
.header.blue { background: #60a5fa; }
.header.green { background: #4ade80; }
.header.purple { background: #a855f7; }
.header.teal { background: #26a69a; }

/* POSTS */
.post-list {
    flex: 1;
    padding: 15px;
    overflow-y: auto;

     /* ✅ BACKGROUND IMAGE */
    background-image: url("cloud.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.post {
    background: #fff;
    border: 1px solid #eee;
    padding: 12px;
    border-radius: 12px;
    margin-bottom: 10px;
}

.post h3 {
    font-size: 14px;
    color: #555;
}

.post p {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 8px;
}

.actions {
    font-size: 12px;
    color: gray;
}

/* INPUT BAR */
.input-bar {
    display: flex;
    padding: 10px;
    border-top: 1px solid #eee;
}

.input-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
}

.input-bar button {
    margin-left: 8px;
    padding: 10px 15px;
    background: #fb923c;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}